
footer p {
	display: inline;
	margin-left: 10px;
}

footer {
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
    
  footer a {
	color: #fff;
  }
  
  footer a:hover {
	color: #c2c2c2;
  }

.btn-custom {
  background-color: #50C878;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #48b56a;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-menu-custom {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
	.jumbotron {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media ( min-width : 544px) {
	text-sm-left {
		text-align: left !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
}

.content {
     background-size: cover;
     min-height: 100%;
     min-width: 320px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     color: #e4ffb29e;
     font-size: 30px;
     font-family: SANS-SERIF;
     font-weight: 300;
}

body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  background-color:rgba(0,0,0,.87);
  color:rgba(0,0,0,.87);
  margin:0;
  height: 100%;
}